button {
  width: 100px;
}

input {
  width: 200px;
  height: 20px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  padding-left: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jeopardy-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 3px;
  background: black;
  color: white;
  cursor: pointer;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  outline: none;
}

.jeopardy-button:hover {
  background-color: #060CE9;
  color: white;
}